/* .title{
    color: blueviolet;
}
.card{
    color: rgb(221, 219, 219);
    background-color: rgb(88, 88, 90);
    margin: 20px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    height: 100%;
} */