.button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0 30px;
    font-family: "Candal";
}
.button:hover {
    border: 2px solid red;
    color: red;
}
.turno{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 10px ;
}
.datos{
    font-size: medium;
    margin: 2px 5px;
}