.divNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1000;
    height: 10vh;
    width: 100vw;
    padding: 1rem 2rem ;
    position: fixed;
    z-index: 1000;
    flex-wrap: nowrap;
}
.linkNav {
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    text-decoration: none;
    position: relative; 
}
.linkNav::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: #ffd000; 
    bottom: 0;
    left: 0;
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}
.linkNav:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}
label{
    display: flex;
    color: white;
    align-items: baseline;
}
p{
    color: var(--color-yellow);
    font-weight:bolder;
}
.buttons {
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: transform 0.3s ease;
    margin-left: 1rem;
}
.buttons a {
    color: inherit;
    text-decoration: none; 
}
.buttons:hover{
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .linkNav {
        font-size: 10px; 
        margin: 0px 5px;
    }
}
@media (max-width: 768px) {
    .buttons{
        font-size: 0.6rem;
        padding: 3px;
    }
}
